<%= form_for @statusupdate do |su| %>
	<b>Your status at </b> <small><%= @statusupdate.updatetime %></small><br>	
	<table>		
		<tr>
			<td><%= su.text_area :content, :size => "40x2" %></td>
		</tr>
		<tr>
			<td><%= su.submit "Edit Status", :class => 'btn btn-primary' %></td>
		</tr>
	</table>
<% end %>