<center>
	<b>You are logged as <%= @account.username %></b><br>
	<h3><%= @account.username %> Timeline</h3>
</center>
<hr>
<%= render "statusupdates/form" %>
<%= render "statusupdates/statusupdate" %>